{% extends "base.html" %}

{% block title%}
 Rescala | Logout
{% endblock%}

{% block content %}
<div class="container row-fill-no-header">
    <div class="row  d-flex flex-column justify-content-end h-30 mb-5">
        <div class="d-flex justify-content-center col-md-8 mt-3 offset-md-2 ">
            <h2 class="'text-center test-red">Are you sure you want to sign out?</h2>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-6 d-flex justify-content-center input-sign-up ">
            <a href="/" class="btn btn-very-dark btn-lg btn-logout">No, I'm not done practicing!</a>
        </div>
        <div class="col-md-6 d-flex justify-content-center input-sign-up mt-3 mt-md-0">
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-dark btn-lg btn-logout" type="submit">Yep, I'm done for the day.</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}