{% extends "base.html" %}

{% load crispy_forms_tags%}
{% crispy form form.helper %}

{% block title%}
Rescala | Register
{% endblock%}

{% block header%}
<header>
  <nav class="navbar navbar-expand-lg bg-dark-green h-100">
        <a class="navbar-brand" href="{% url 'landing_page' %}"><div class="rescala-logo rescala-logo-light"><span>R</span></div></a>
  </nav>
</header>
{%endblock header%}

{% block content %}
<div class="container-fluid bg-dark-green h-100">
    <div class="row h-100">
        <div class="col-md-6 offset-md-3 d-flex flex-column justify-content-center align-items-center">
            <div>
                <h1 class="text-center ">Register with Rescala</h1>
                <div class="d-flex justify-content-center">
                    <p class="text-center">Already have an account? Then please
                        <a href="{{ login_url }}" class='btn btn-dark btn-sm'>Sign In</a>
                    </p>
                </div>
            </div>
            {% crispy form %}
        </div>
    </div>
</div>

{% endblock %}