{% extends "base.html" %}


{% load crispy_forms_tags%}
{% crispy form form.helper %}

{% block title%}
Rescala | Register
{% endblock%}
{% block header %}
<header class="bg-dark-green">
    <div>
        <div class="r-logo d-flex justify-content-center align-items-center mt-3">
            <h1>R</h1>
        </div>
    </div>
</header>
{% endblock header %}
{% block content %}
<div class="container-fluid bg-dark-green h-100">
    <div class="row h-100">
        <div class="col-md-6 offset-md-3 d-flex flex-column justify-content-center align-items-center">
            <div>
                <h1 class="text-center ">Register with Rescala</h1>
                <div class="d-flex justify-content-center">
                    <p class="text-center">Already have an account? Then please
                        <a href="{{ login_url }}" class='btn btn-dark btn-sm'>Sign In</a>
                    </p>
                </div>
            </div>
            <!-- Form -->
    
                  {% crispy form %}
         



        </div>
    </div>
</div>

{% endblock %}