/* * {
	outline: #B80C09 1px dashed;
} */

/* ------------------------------- Base HTML Elements */
body {
	font-family: 'Work Sans', Courier, monospace;
	background-color: #E8F1F2;
	accent-color: #355834;
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-weight: 300;
}

main {
	flex-grow: 1;
}

hr {
	border-top: #14281D 1px solid;
	opacity: 1;
}

header {
	font-weight: 400;
}

/* ------------------------------- Text and Fonts */
h1, h2, h3 {
	font-family: 'Fraunces', Courier, monospace;
}

a {
	text-decoration: none;
	color: #14281D;
}

.subtitle {
	font-size: 120%;
	font-weight: 400;
}

.black-text {
	color: black;
}

.fw-bold{
	font-weight: 400;
}

/* .light-text {
	color:#DCDCDC !important;
} */

.rescala-red{
	color: #B80C09;
}

.active {
	border-bottom: #14281D 1px solid;
}
/* ------------------------------- Inputs */
textarea {
	resize: none;
	font-weight: 300;
	height: 30rem;
}

.input-sign-up>input {
	width: 100%;
}

.input-sign-up>button {
	width: 75%;
}

.input-field {
	border-radius: 5px;
}

.edit-goal-range{
	display: none;
	width: 75%;
}

.textinput{
	font-weight: 300;
}

.datetimeinput{
	font-weight: 300;
}

.form-control{
	font-weight: 300;
}

.form-label{
	font-weight: 400;
}

/* ------------------------------- Footer */
footer {
	border-top: 1px solid #14281D;
}

footer p i {
	font-size: 140%;
}

/* ------------------------------- Colours */
.bg-dark-green {
	background-color: #14281D;
	color: #E8F1F2;
}

.bg-green {
	background-color: #355834;
	color: #E8F1F2;
}

.bg-white {
	color: #14281D;
	background-color: #E8F1F2;
}

/* ------------------------------- Buttons */

/* .btn{
	text-transform:uppercase;
} */

.btn-logout {
	height: 3rem;
}

.btn-red {
	color: #fff;
	background-color: #B80C09;
}

.btn-red:hover {
	color: #B80C09;
	background-color: #E8F1F2;
	border: 1px solid #B80C09;
}

.btn-very-dark {
	color: #E8F1F2;
	background-color: #14281D;
}

.btn-very-dark:hover {
	color: #14281D;
	background-color: #E8F1F2;
	border: 1px solid #14281D;
}

.btn-dark {
	color: #14281D;
	background-color: #E8F1F2;
}

.btn-dark:hover {
	color: #E8F1F2;
	background-color: #355834 
}

.btn-light {
	color: #355834;
	background-color: #E8F1F2;
}

.btn-light:hover {
	color: #E8F1F2;
	background-color: #14281D;
}

.btn-primary{
	border: 1px solid #14281D;
}

.save-goal-button{
	display: none;
}

.confirm-delete-button{
	display: none;
}

.revert-goal-button{
	display: none;
}


/* ------------------------------- Layout & Sizing */
.two-col {
	-webkit-column-count: 2;
   /* Chrome, Safari, Opera */
	-moz-column-count: 2;
   /* Firefox */
	column-count: 2;
}

.h-20 {
	min-height: 20%;
}

.h-30 {
	min-height: 30%;
}

.h-40 {
	min-height: 40%;
}

/* ------------------------------- Icons */
.sign-up-icon {
	font-size: 300%;
	padding-bottom: 1rem;
}

.rescala-logo {
	border: 0.2rem solid #14281D;
	color: #14281D;
	width: 3.5rem;
	height: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Fraunces', Courier, monospace;
	font-size: 150%;
	margin-left: 1rem;
}

.rescala-logo-light{
	color: #E8F1F2;
	border-color: #E8F1F2;
}

.circle {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	background-color: #14281D;
}

.circle i {
	color: #E8F1F2;
	font-size: 120%;
}

/* Adapted from https://tinyurl.com/5yss685y */
.input-icons i {
	padding-right: 0.5rem;
}

/* ------------------------------- Backgrounds */
.repeat-text-container {
	/* background-image: url('https://res.cloudinary.com/dlnanftlf/image/upload/v1680133917/rrr_background_jtbala.png'); */
	background-size: cover;
	background-position: center;
}

/* ------------------------------- Dashboard */


.tally-container {
	border: 2px solid #14281D;
	padding: 1.5rem;
}

.dashboard-item {
	border: 2px solid #DCDCDC;
	padding: 1.5rem 0.5rem;
}

.dashboard-card {
	/* color: red; */
	position: relative;
}

.dashboard-card .dashboard-title {
	width: 100%;
    color: #E8F1F2;
    background-color: rgba(53,88,52,0.8);
	position: absolute;
	top: 0;
	left: 0;
	margin-bottom: 2rem;
	padding-top: 0.2rem;
	padding-left: 0.5rem;
	
}

.dashboard-content {
	padding-top: 2rem;
}

.dashboard-content > table {
	width: 100%;
}
/* .dashboard-item:hover {
	border: 2px solid #14281D;
} */
.date-cell{
	width: 40%;
}

.practice-row{
	border-bottom: rgba(184, 12, 9, 0.2) 1px solid;
}

.practice-row:hover{
	color: #B80C09;
	border-bottom: rgba(184, 12, 9, 1) 1px solid;
	
}

.resource-list-item{
	border-bottom: rgba(184, 12, 9, 0.2) 1px solid;

}

.resource-list-item:hover{
	border-bottom: rgba(184, 12, 9, 1) 1px solid;
	box-sizing: border-box;
	
}


/* ------------------------------- Progress Bars */
.progress {
	background-color: #fff;
	border: 1px solid #355834;
	width: 80%;
}

.progress-bar {
	background-color: #355834;
}

/* ------------------------------- Calendar */
.calendar-day {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	background-color: white;
	margin-top: 0.5rem;
	margin-right: 0.25rem;
	margin-left: 0.25rem;
	border: 1px solid #14281D;
}

.calendar-day:hover {
	border: 3px solid #14281D;
	box-sizing: border-box;
}

.practiced {
	background-color: #355834;
}

/* ------------------------------- Forms */
.asteriskField {
	display: none;
}

.form-label {
	color: #14281D;
}

.accent-header {
	color: #B80C09;
}

.alert li {
	list-style: none;
}

.alert ul {
	padding-inline-start: 0;
}

/* Auth Forms */
#id-custom-login-form , #id-custom-signup-form {
	width: 75%;
}


#id-custom-login-form label, #id-custom-signup-form label {
	color: #14281D;
}

#id-custom-login-form .invalid-feedback, #id-custom-signup-form .invalid-feedback{
	color: #E8F1F2;
}

#div_id_remember label {
	color:#E8F1F2;
}

.form-check-input:checked {
    background-color: #B80C09;
    border-color: #B80C09;
}

/* Resources */
.card-img-top{
	height: 12rem;
	width: 100%;
	object-fit: cover;
	/* background-position: center; */
	user-select: none;
}

.card {
	border: 2px solid #14281D;
}

/* .card:hover{
	background-color: #DCDCDC;
} */

/* Listing */

.resource-listing{
	height: 20rem;
	/* width: 100%; */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
		/* background-position: center; */
	user-select: none;
	position: relative;
	margin: 0.5rem 0;
}

.resource-listing:hover{
	border: 0.2rem solid #14281D;
	box-sizing: border-box;
}

.resource-summary {
    color: #E8F1F2;
    background-color: rgba(53,88,52,0.8);
    height: 100%;
	display: none;
    padding: 3rem 1rem 0 1rem;
	overflow: hidden;

}

.resource-listing:hover .resource-summary{
	display: block;
}

.resource-listing:hover .resource-title{
	display: none;
}



.resource-title{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(53, 88, 52, 0.8);
	color: #E8F1F2;
	padding: 1rem 3rem;
	margin: 0;
	width: 100%;
}

.page-link{
	color: #14281D;
}






/* Individual Resource */
.resource-img{
	height: 40rem;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
		/* background-position: center; */
	user-select: none;
	position: relative;
}


.resource-img h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(53, 88, 52, 0.8);
	color: #E8F1F2;
	padding: 1rem 3rem;
	margin: 0;
}

.resource-date {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(184, 12, 9, 0.6);
	padding: 0.5rem 1.5rem;
	color:#E8F1F2 ;

}

.star-container {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.5rem;
	background-color: rgba(232, 241, 242, 0.8);
}

.star-container i {
	font-size: 140%;
	color: #14281D;
}

.star-container i:hover {
	color: #B80C09;
	cursor: pointer;
}

/* SPINNER */

.spinner-border{
	display: none;
	color: #B80C09;
}
/* 
#login-spinner{
	display: block;
}
 */


/* WORDCLOUD */

.wordcloud-lg{
	font-size: 180%;
	color: #B80C09;

	font-weight: 700;
}

.wordcloud-md{
	font-size: 150%;
	color:#355834;
	font-weight: 400;
}

.wordcloud-sm{
	font-size: 150%;
	color:#14281D;
	font-weight: 400;
}

.wordcloud-xs{
	font-size: 90%;
	color:#B80C09;
	font-weight: 300;
}