/* ------------------------------- Base HTML Elements */
body {
	font-family: 'Work Sans', Courier, monospace;
	background-color: #E8F1F2;
	accent-color: #355834;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

main {
	flex-grow: 1;
	margin-bottom: 2rem;
}

/* ------------------------------- Text and Fonts */
h1, h2, h3 {
	font-family: 'Fraunces', Courier, monospace;
}

a {
	text-decoration: none;
	color: #14281D;
}

.subtitle {
	font-size: 120%;
}

.black-text {
	color: black !important;
}

/* .light-text {
	color:#DCDCDC !important;
} */

/* ------------------------------- Inputs */
textarea {
	resize: none;
}

.input-sign-up>input {
	width: 100%;
}

.input-sign-up>button {
	width: 75%;
}

.input-field {
	border-radius: 5px;
}

/* Adapted from https://tinyurl.com/32v8acbn */
.user-input-wrp {
	position: relative;
	color: black;
}

.user-input-wrp>textarea {
	resize: none;
}

.user-input-wrp .input-field {
	width: 100%;
	outline: none;
	border: none;
	border-bottom: 1px solid #777;
	box-shadow: none !important;
}

.user-input-wrp .input-field:focus {
	border-color: #B80C09;
	border-width: medium medium 2px;
}

.user-input-wrp .floating-label {
	position: absolute;
	pointer-events: none;
	left: 1rem;
	bottom: 0.2rem;
	transition: 0.4s ease all;
}

.user-input-wrp input:focus~.floating-label, .user-input-wrp input:not(:focus):valid~.floating-label {
	color: #E8F1F2;
	top: 0px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}

.edit-goal-range{
	display: none;
}

/* ------------------------------- Footer */
footer {
	border-top: 1px solid #14281D;
}

footer p i {
	font-size: 140%;
}

/* ------------------------------- Colours */
.bg-dark-green {
	background-color: #14281D;
	color: #E8F1F2;
}

.bg-green {
	background-color: #355834;
	color: #E8F1F2;
}

.bg-white {
	color: #14281D;
	background-color: #E8F1F2;
}

/* ------------------------------- Buttons */
.btn-logout {
	height: 3rem;
}

.btn-very-dark {
	color: #E8F1F2;
	background-color: #14281D;
}

.btn-very-dark:hover {
	color: #14281D;
	background-color: #E8F1F2;
	border: 1px solid #14281D;
}

.btn-dark {
	color: #14281D;
	background-color: #E8F1F2;
}

.btn-dark:hover {
	color: #E8F1F2;
	background-color: #355834 
}

.btn-light {
	color: #355834;
	background-color: #E8F1F2;
}

.btn-light:hover {
	color: #E8F1F2;
	background-color: #14281D;
}

.save-goal-button{
	display: none;
}

/* ------------------------------- Layout & Sizing */
.two-col {
	-webkit-column-count: 2;
   /* Chrome, Safari, Opera */
	-moz-column-count: 2;
   /* Firefox */
	column-count: 2;
}

.h-20 {
	min-height: 20%;
}

.h-30 {
	min-height: 30%;
}

.h-40 {
	min-height: 40%;
}

/* ------------------------------- Icons */
.sign-up-icon {
	font-size: 300%;
	padding-bottom: 1rem;
}

.r-logo {
	border: 0.2rem solid #E8F1F2;
	width: 3.5rem;
	height: 3.5rem;
}

.circle {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	background-color: #14281D;
}

.circle i {
	color: #E8F1F2;
	font-size: 120%;
}

/* Adapted from https://tinyurl.com/5yss685y */
.input-icons i {
	padding-right: 0.5rem;
}

/* ------------------------------- Backgrounds */
.repeat-text-container {
	background-image: url('../images/rrr_background.png');
	background-size: cover;
	background-position: center;
}

/* ------------------------------- Dashboard */
.tally-container {
	border: 2px solid #14281D;
	padding: 1.5rem;
}

.dashboard-item {
	border: 2px solid #DCDCDC;
	padding: 1.5rem;
}

.dashboard-item:hover {
	border: 2px solid #14281D;
}

/* ------------------------------- Progress Bars */
.progress {
	background-color: #fff;
	border: 1px solid #355834;
}

.progress-bar {
	background-color: #355834;
}

/* ------------------------------- Calendar */
.calendar-day {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	background-color: white;
	margin-top: 0.5rem;
	margin-right: 0.25rem;
	margin-left: 0.25rem;
	border: 1px solid #14281D;
}

.calendar-day:hover {
	border: 3px solid #14281D;
	box-sizing: border-box;
}

.practiced {
	background-color: #355834;
}

/* ------------------------------- Forms */
.asteriskField {
	display: none;
}

.form-label {
	color: #B80C09;
}

.accent-header {
	color: #B80C09;
}

.alert li {
	list-style: none;
}

.alert ul {
	padding-inline-start: 0;
}

/* Login Form */
#id-custom-login-form label {
	color: #14281D;
}

#id-custom-login-form .invalid-feedback{
	color: #E8F1F2;
}

#div_id_remember label {
	color:#E8F1F2;
}

.form-check-input:checked {
    background-color: #B80C09;
    border-color: #B80C09;
}

/* Resources */
.card-img-top{
	height: 12rem;
	width: 100%;
	object-fit: cover;
	/* background-position: center; */
	user-select: none;
}

.card {
	border: 2px solid #14281D;
}

.card:hover{
	background-color: #DCDCDC;
}



