{% extends "base.html" %}

{% load static %}

{% block title%}
Rescala | 500
{% endblock%}

{% load crispy_forms_tags%}
{% crispy form form.helper %}

{% block content %}
<div class="container d-flex flex-column h-100">
    <div class="row mt-md-5">
        <div class="col d-flex justify-content-center align-items-center">
            <h1  class='text-center' style="font-size: 750%;">We've lost the beat.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1 class='text-center'>We're not sure what's happened, but something's gone wrong.</h1>
        </div>
        <div class="row mb-2">
            <div class="col d-flex flex-column align-items-center justify-content-center">
                <p class='text-center'>We're working to fix it but for now let's get you back on track:
                </p>
                <div>
                    <a href="{% url 'landing_page' %}" class="btn btn-lg btn-very-dark">Back to Rescala</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}