{% extends "base.html" %}

{% block content %}
<div class="container row-fill-no-header">
    <div class="row ">
        <div class="col">
            <h1>Log A Practice</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="POST" style="margin-top: 1.3rem ;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="user-input-wrp my-2 input-icons">
                            <br />
                            {{create_session_form.headline}}
                            <span class='floating-label'>Add a headline</span>
                        </div>

                        <div class="user-input-wrp my-2 input-icons">
                            <br />
                            {{create_session_form.date}}
                            <span class='floating-label'>Date</span>
                        </div>
                        <div class="user-input-wrp my-2 input-icons">
                            <br />
                            {{create_session_form.duration}}
                            <span class='floating-label'>Duration (mins)</span>
                        </div>
                        <div class="user-input-wrp my-2 input-icons">
                            <span>Focus</span>
                            <br />
                            {{create_session_form.focus}}
                            <!-- <span class='floating-label'>Focus</span> -->
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="user-input-wrp my-2 input-icons">
                            <span>My Reflections</span>
                            <br />
                            {{create_session_form.summary}}
                            <!-- <span class='floating-label'>Focus</span> -->
                        </div>

                        <div class="user-input-wrp my-2 input-icons">
                            <span>Goals</span>
                            <br />
                            <div>
                                <em>Set some personal goals to get started.</em>
                            </div>
                            <!-- <span class='floating-label'>Focus</span> -->
                        </div>

                    </div>

                    {% csrf_token %}


                </div>
                <div class="row">
                    <div class="col-md-6 offset-3">

                        <button type="submit" class="btn btn-very-dark btn-lg">Submit</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}