{% extends "base.html" %}

{% block title%}
Rescala | Dasboard
{% endblock%}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Dashboard</h1>
    </div>
  </div>
  <!-- Messages -->
  <div class="row">
    <div class="col-md-8 offset-md-2">
      {% for message in messages %}
      <div class="alert {{ message.tags}} alert-dismissible fade show" id="msg" role="alert">
        {{ message | safe }}
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
  </div>
  {% if sessions %}
  <div class="row">
    <div class="col-md-6">
      <!-- Recent Practices -->
      <div class="dashboard-item">
        <h3>Recent Practice</h3>
        <table>
          <tbody>
            {% for session in recent_sessions %}
            <tr>
              <td>
                <a href="{% url 'session_details' session.id %}">
                  {{session.date | date:'D d M y'}}
                </a>
              </td>
              <td>
                <a href="{% url 'session_details' session.id %}">
                  {{session.headline}}
                </a>
              </td>
            </tr>
            {% empty %}
            <p>This is where your logged practices will appear!</p>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Goals -->
      <div class="dashboard-item">
        <h3>My Goals</h3>
        {%for goal in goals%}
        <div>
          {{goal.goal}}
          <form method="POST" action="{% url 'update_goal' forloop.counter0 %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-8">
                <div class="progress goal-progress" data-goal-id="{{forloop.counter}}">
                  <div class="progress-bar" role="progressbar" style="width: {{goal.complete}}%" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="spinner-border" role="status" data-goal-id="{{forloop.counter}}">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>

                <input type="range" data-goal-id="{{forloop.counter}}" class="w-100 edit-goal-range"
                  value="{{goal.complete}}" name="goal-complete">
              </div>
              <div class="col-md-4">
                <button type='button' data-goal-id="{{forloop.counter}}"
                  class=" edit-goal-button btn btn-sm btn-dark"><i class="fa-solid fa-pen"></i></button>
                <button data-goal-id="{{forloop.counter}}" class="save-goal-button btn btn-sm btn-dark"><i
                    class="fa-regular fa-circle-check"></i></button>
                <button type='button' data-goal-id="{{forloop.counter}}"
                  class="delete-goal-button btn btn-sm btn-very-dark"><i class="fa-solid fa-xmark"></i></button>


              </div>
            </div>
          </form>


        </div>
        {% endfor %}
        <!-- Add Goal Button -->
        <button type="button" class="btn btn-sm btn-very-dark" data-toggle="modal" data-target="#goalModal"> Add Goal
        </button>
      </div>
    </div>
  </div>
  <!-- Row 2 -->
  <div class="row">
    <div class="col-md-6">
      <!-- Moods -->
      <div class="dashboard-item">
        <h3>I am Feeling</h3>
        {% if wordcloud is not None %}
        <img class="img-fluid" src="data:image/png;base64, {{ wordcloud }}" alt="Word Cloud">
        {% else %}
        <p>Log a session to start learning more about how you feel about your practice sessions.</p>
        {% endif %}

      </div>

    </div>
    <div class="col-md-6">
      <div class="col">
        <!-- Calendar -->
        <div class="dashboard-item">
          <h3>Last 30 Days</h3>
          <div class="calendar-container d-flex flex-wrap">
            {% for day in dates %}
            {% if day.practice%}
            <div class="calendar-day practiced" data-toggle="tooltip" data-placement="top"
              title="{{ day.date | date:'D d M y' }}"></div>
            {% else %}
            <div class="calendar-day" data-toggle="tooltip" data-placement="top" data-html="true"
              title="{{ day.date | date:'D d M y' }}"></div>
            {% endif %}


            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Row 3 -->
  <div class="row">
    <div class="col-md-6">
      <!-- Focus Chart -->
      <div class="dashboard-item">
        <h3>Focus</h3>
        <div>
          <canvas id="myChart"></canvas>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="dashboard-item">
        <!-- Practice Time -->
        <h3>Total Practice</h3>
        <div class="d-flex justify-content-evenly">
          <div class="tally-container">
            <div class="accent-header">Last 7 Days</div>
            {{practice_totals.weekly}} minutes
          </div>
          <div class="tally-container">
            <div class="accent-header">Last 30 Days</div>
            {{practice_totals.monthly}} minutes
          </div>
          <div class="tally-container">
            <div class="accent-header">Total</div>
            {{practice_totals.total}} minutes
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="dashboard-item">
      <h3>My Resources</h3>
      {% for resource in resources%}
      <a href="{% url 'resource_details' resource.id %}">
        <div>{{resource.title}}</div>
      </a>
      {% empty %}
      <div>Here you can see all your favourite articles, tips and interviews. Head over to Resources to get started.</div>
      {%endfor%}
    </div>    
</div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-md-12">
      <div class="dashboard-item">
        <h3>Welcome to Rescala, {{user.first_name}}</h3>
        <div>This is your Dashboard; from here you will be able to track your practices, learn more about how you are
          feeling and start to move towards your musical goals.</div>
        <div>You've done the hard work! Just log your first practice to get started.</div>
      </div>

    </div>
  </div>
  {% endif %}
</div>
<!-- Add Goal Modal -->
<div class="modal fade" id="goalModal" tabindex="-1" role="dialog" aria-labelledby="goalModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Goal</h5>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'add_goal' %}">
          <div class="row">
            <div class="col-md-12">
              <div>
                <!-- <label for="id_goalName">New Goal</label> -->
                {{goalform.goalName}}
              </div>
            </div>
          </div>
          {% csrf_token %}
          <button type="submit" class="btn btn-sm btn-very-dark">Add Goal</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{%block scripts%}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  // jquery function
  // https://www.section.io/engineering-education/integrating-chart-js-in-django/
  $(document).ready(function () {


    try {
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: [{%for focus in focus_list %}'{{focus.focus | capfirst }}',{% endfor %}],
    datasets: [{
      label: '# of practice sessions',
      data: [{%for focus in focus_list %}{{ focus.count }}, {% endfor %}],
    backgroundColor: [
    'rgba(53, 88, 52, 0.2)',
    'rgba(184, 12, 9, 0.2)',
    'rgba(255, 255, 255, 1)',
    'rgba(20, 40, 29, 0.2)',
    'rgba(119, 119, 119, 0.2)',
    'rgba(232, 241, 242, 0.2)'
  ],
    borderColor: [
    'rgba(53, 88, 52, 1)',
    'rgba(184, 12, 9, 1)',
    'rgba(0,0,0,1)',
    'rgba(20, 40, 29, 1)',
    'rgba(119, 119, 119, 1)',
    'rgba(0,0,0,1)'
  ],
    borderWidth: 1
                    }]
                },
    options: {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: {
        position: 'right',
      },
    }
  },
    });
      } catch (e) {

  }

        });
</script>
{%endblock scripts%}