{% extends "base.html" %} 
{% load cloudinary %} 
{% block title%} Rescala | Resources {% endblock%} 

{% block content %} 
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>Resources</h1>
        <hr />
      </div>
    </div>
    <div class="row"> 
        {% if resources %} 
        {% for resource in resources %} 
        {% if forloop.counter == 1 or forloop.counter == 6%} 
        <div class="col-md-6">
        <a href="{% url 'resource_details' resource.id%}">
          <div class="resource-listing" style='background-image: url("https://res.cloudinary.com/dlnanftlf/image/upload/v1678830219/{{resource.featured_image}}.jpg")'>
            <div>
              <div class="resource-date">{{resource.created_on|date:"D d M Y" }}</div>
            </div>
            <div class="resource-title">{{resource.title}}</div>
            <div class="resource-summary">
              {{resource.excerpt}}
            </div>
          </div>
        </a>
      </div> 
      {% else %} 
      <div class="col-md-3">
        <a href="{% url 'resource_details' resource.id%}">
          <div class="resource-listing" style='background-image: url("https://res.cloudinary.com/dlnanftlf/image/upload/v1678830219/{{resource.featured_image}}.jpg")'>
            <div>
              <div class="resource-date">{{resource.created_on|date:"D d M Y" }}</div>
            </div>
            <div class="resource-title">{{resource.title}}</div>
            <div class="resource-summary">
              {{resource.excerpt}}
            </div>
          </div>
        </a>
      </div> 
      {% endif %} 
      {% endfor %} 
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination"> 
            {% if resources.has_previous %} 
            <li class="page-item">
              <a class="page-link" href="?page={{ resources.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li> 
            {% endif %} 
            <li class="page-item page-link">
              {{ resources.number }} of {{ resources.paginator.num_pages }}
            </li>
            {%if resources.has_next %}
            <li>
              <a class="page-link" href="?page={{ resources.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li> 
            {% endif %} 
        </ul>
        </nav>
      </div>
    </div> 
    {% else %} 
    <div class="row">
      <div class="col"> Rescala will bring you the best insights on practice, music and the industry from around the web. Check back in future to learn more. </div>
    </div> 
    {% endif%}
  </div> 
  {% endblock %}